# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node.js
node_modules/
frontend-assembly/node_modules/
npm-debug.log

# Django
db.sqlite3
# Исключаем медиа, так как они должны быть внешними (volume)
media/
public/media/
staticfiles/
public/static/static_collected/

# IDE
.idea/
.vscode/

# Env
.env

# ETPGRF Custom
public/static/codemirror/editor.js
frontend-assembly/dist/
