{% extends 'typograph/base.html' %}
{% load static %}

{% block title %}{{ page.seo_title|default:page.title }} — ETPGRF{% endblock %}
{% block description %}{{ page.seo_description|default:page.content|striptags|truncatechars:160 }}{% endblock %}
{% block og_title %}{{ page.seo_title|default:page.title }}{% endblock %}
{% block og_description %}{{ page.seo_description|default:page.content|striptags|truncatechars:160 }}{% endblock %}
{% block og_image %}{% if page.image %}{{ request.scheme }}://{{ request.get_host }}{{ page.image.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/etpgrf-logo-for-fb-vk-x.gif' %}{% endif %}{% endblock %}
{% block twitter_title %}{{ page.seo_title|default:page.title }}{% endblock %}
{% block twitter_description %}{{ page.seo_description|default:page.content|striptags|truncatechars:160 }}{% endblock %}
{% block twitter_image %}{% if page.image %}{{ request.scheme }}://{{ request.get_host }}{{ page.image.url }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'img/etpgrf-logo-for-fb-vk-x.gif' %}{% endif %}{% endblock %}

{% block content %}
  <div class="row">

    {# Левая колонка: Дата и Картинка #}
    <div class="col-lg-2 align-self-start text-end mb-4">
      <p class="small align-self-end">
          <small class="bg-secondary bg-opacity-10 p-2 text-nowrap">
              {{ page.published_at|date:"d.M.Y"|lower }}
          </small>
      </p>
      <p>
          {% if post.image %}
            <img src="{{ post.image.url }}" class="w-100 rounded" alt="{{ post.title|safe }}" />
          {% else %}
            <img src="{% static 'img/etpgrf-logo-for-fb-vk-x.gif' %}" class="w-100 rounded opacity-50" alt="{{ post.title|safe }}" />
          {% endif %}
      </p>
    </div>

    {# Правая колонка: Контент #}
    <div class="col-lg-10 border-start ps-lg-4">

        <h1 class="display-4 mb-4">{{ page.title|safe }}</h1>

        {% if page.excerpt %}
            <div class="lead bg-secondary bg-opacity-10 p-3 rounded">
                {{ page.excerpt|safe }}
            </div>
        {% endif %}

        <div class="page-content mt-4">
            {{ page.content|safe }}
        </div>

    </div>
  </div>
{% endblock %}
