{% extends 'typograph/base.html' %}
{% load static %}

{% block title %}Песочница верстки — ETPGRF{% endblock %}

{% block content %}
  <div class="row">

    {# Левая колонка: Дата и Картинка #}
    <div class="col-lg-2 align-self-start text-end mb-4">
      <p class="small align-self-end">
          <small class="bg-secondary bg-opacity-10 p-2 text-nowrap">
              12.фев.2026
          </small>
      </p>
      <p>
        <img src="{% static 'img/etpgrf-logo-for-fb-vk-x.gif' %}" class="w-100" alt="Django Admin" />
      </p>
    </div>

    {# Правая колонка: Контент #}
    <div class="col-lg-10 border-start ps-lg-4 post-page-content">

      <h1>Чистые, типогра&shy;фированные заголовки в&nbsp;админке Django: убираем HTML-мнемоники</h1>

      <div class="lead bg-secondary bg-opacity-10 p-3 rounded">
        <p>Библиотека типографа <tt>etpgrf</tt> написана на&nbsp;Python, и&nbsp;потому его исполь&shy;зование в&nbsp;Django&nbsp;— наиболее распрос&shy;траненный случай. Когда в&nbsp;Django вы&nbsp;храните в&nbsp;базе данных типогра&shy;фированный текст (с&nbsp;HTML-мнемониками: неразрывными пробелами <code>&amp;nbsp;</code>, мягкими переносами <code>&amp;shy;</code> и&nbsp;тому подобное), то&nbsp;стандартный список в&nbsp;админке Django превращается в&nbsp;не&nbsp;очень удобо&shy;читаемую кашу из&nbsp;спецсимволов. Рассказываем, как&nbsp;это исправить за&nbsp;пару строк кода.</p>
      </div>

      <hr>

      <div class="row align-items-start">
<div class="col border-end">

          <h2>Проблема</h2>
<p>Представьте, что у&nbsp;вас есть модель <code>Post</code> в&nbsp;которой хранятся записи блога, и&nbsp;вы&nbsp;прогнали заголовки через&nbsp;типограф (например, через&nbsp;наш <a href="/">онлайн-типограф</a> или с&nbsp;помощью библиотеки <tt>etpgrf</tt>). В&nbsp;базе данных заголовок выглядит так:</p>
<pre class="border p-3 my-3 bg-secondary bg-opacity-25">Политика безопасности и&amp;nbsp;конфи&amp;shy;денциаль&amp;shy;ности</pre>
<p>На&nbsp;сайте это будет отлично выглядеть для&nbsp;браузера, но&nbsp;в&nbsp;панели админис&shy;тратора или контент-менеджера это ужасно, так как&nbsp;Django «маскирует» <code>&amp;</code> и&nbsp;все HTML-мнемоники будут видны во&nbsp;всей красе. В&nbsp;списке объектов (Change List) будет виден «сырой» HTML-код, и&nbsp;читать такое сложно, особенно если мнемоник много.</p>
<h2>Решение</h2>
<p>Нам нужно, чтобы в&nbsp;списке (<code>list_display</code>) отображался «чистый» текст, а&nbsp;в&nbsp;форме редакти&shy;рования оставался исходный HTML (чтобы его было легче править).</p>
<p>Для&nbsp;этого мы&nbsp;добавим в&nbsp;класс <code>ModelAdmin</code> специальный метод, который будет декодировать HTML-мнемоники перед&nbsp;выводом в&nbsp;админку.</p>
<h3>Шаг 1. Импортируем модуль html</h3>
<p>В&nbsp;Python есть встроенная библиотека <code>html</code>, которая умеет делать <code>unescape</code> — превращать мнемоники, например <code>&amp;nbsp;</code> или <code>&amp;shy;</code>, unicode. <code>&amp;nbsp;</code> превратится в&nbsp;неразрывный пробел, а&nbsp;<code>&amp;shy;</code> в&nbsp;мягкий перенос.</p>
<h3>Шаг 2. Создаем метод в&nbsp;админке</h3>
<p>В&nbsp;файле <code>admin.py</code>:</p>
<pre class="border p-3 my-3 rounded bg-secondary bg-opacity-25">from django.contrib import admin
import html
from .models import Post

@admin.register(Post)
class PostAdmin(admin.ModelAdmin):
    # В list_display указываем не поле 'title', а наш метод 'clean_title'
    list_display = ('clean_title', 'is_published', 'published_at')

    # ... остальные настройки ...

    # Декоратор @admin.display позволяет настроить название колонки и сортировку
    @admin.display(description='Заголовок', ordering='title')
    def clean_title(self, obj):
        # Декодируем HTML-сущности (&nbsp; -&gt; U+00A0)
        return html.unescape(obj.title)
</pre>
<h2>Как&nbsp;это работает?</h2>
<ul>
<li>Метод <code>clean_title</code> получает объект модели.</li>
<li><code>html.unescape(obj.title)</code> превращает HTML-мнемоники в&nbsp;Unicode: <code>&amp;nbsp;</code> в&nbsp;символ неразрывного пробела (<tt>U+00A0</tt>); <code>&amp;shy;</code> — в&nbsp;мягкий перенос (<tt>U+00AD</tt>) и&nbsp;так далее.</li>
<li>Unicode не&nbsp;маскируется адимнкой Django, символы выглядят как&nbsp;обычный текст (или вообще не&nbsp;видны), поэтому список становится чистым и&nbsp;читаемым (и&nbsp;даже, более того, в&nbsp;списке уже будут типогра&shy;фированные поля <code>title</code>).</li>
<li>При&nbsp;этом сортировка по&nbsp;колонке (<code>ordering='title'</code>) продолжает работать по&nbsp;ориги&shy;нальному полю в&nbsp;базе данных.</li>
</ul>
<p>Теперь админка выглядит опрятно, а&nbsp;типографика на&nbsp;сайте остается безупречной!</p>

    </div>
  </div>
{% endblock %}
